<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManejaCatalogos</servlet-name>
        <servlet-class>servlets.ManejaCatalogos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>see</servlet-name>
        <servlet-class>servlets.see</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaCarritoServlet</servlet-name>
        <servlet-class>servlets.ManejaCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaJuegosPorIdServlet</servlet-name>
        <servlet-class>servlets.ManejaJuegosPorIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaLoginResgistroServlet</servlet-name>
        <servlet-class>servlets.ManejaLoginResgistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaOpcionesUsuarioServlet</servlet-name>
        <servlet-class>servlets.ManejaOpcionesUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejaOpcionesAdministradorServlet</servlet-name>
        <servlet-class>servlets.ManejaOpcionesAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjecutaOpcionesAdministradorServlet</servlet-name>
        <servlet-class>servlets.EjecutaOpcionesAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioOpcionesAdministradorSerlvet</servlet-name>
        <servlet-class>formularios.FormularioOpcionesAdministradorSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioInsertarProducto</servlet-name>
        <servlet-class>formularios.FormularioInsertarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertaProdcutosServlet</servlet-name>
        <servlet-class>servlets.InsertaProdcutosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManejaCatalogos</servlet-name>
        <url-pattern>/ManejaCatalogos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>see</servlet-name>
        <url-pattern>/see</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaCarritoServlet</servlet-name>
        <url-pattern>/ManejaCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaJuegosPorIdServlet</servlet-name>
        <url-pattern>/ManejaJuegosPorIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaLoginResgistroServlet</servlet-name>
        <url-pattern>/ManejaLoginResgistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaOpcionesUsuarioServlet</servlet-name>
        <url-pattern>/ManejaOpcionesUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejaOpcionesAdministradorServlet</servlet-name>
        <url-pattern>/ManejaOpcionesAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjecutaOpcionesAdministradorServlet</servlet-name>
        <url-pattern>/EjecutaOpcionesAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioOpcionesAdministradorSerlvet</servlet-name>
        <url-pattern>/FormularioOpcionesAdministradorSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioInsertarProducto</servlet-name>
        <url-pattern>/FormularioInsertarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertaProdcutosServlet</servlet-name>
        <url-pattern>/InsertaProdcutosServlet</url-pattern>
    </servlet-mapping>
</web-app>
